* {
  font-family: "NotoSans Nerd Font";
  font-size: 12px;
  font-weight: bold;
  min-height: 1.5rem;
  color: @theme_text_color;
}

window#waybar {
  border-bottom: 1px solid @unfocused_borders;
  color: @theme_text_color;
  background: alpha(@theme_bg_color, 1.0);
}

#tags button,
#workspaces button {
  border-radius: 0.5rem;
  padding: 0;
  min-width: 2rem;
}

#tags button.urgent,
#workspaces button.urgent {
  background: @warning_color;
}

#tags button.occupied {
  background: @theme_unfocused_selected_bg_color;
  color: @theme_unfocused_selected_fg_color;
}

#tags button.focused,
#workspaces button.focused,
#workspaces button.active {
  background: @success_color;
  color: @warning_color;
}

#battery,
#clock,
#mode,
#pulseaudio,
#tray,
#idle_inhibitor,
#custom-scratchpad-indicator,
#backlight {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

@keyframes warn {
    to {
	background-color: @warning_color;
    }
}

@keyframes critical {
    to {
	background-color: @error_color;
    }
}

#battery.warning {
  animation-name: warn;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical {
  animation-name: critical;
  animation-duration: 0.25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
